AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_REGION=us-east-1

S3_BUCKET=garage-nordik-dev-xxxxx

DB_HOST=your-rds-endpoint
DB_NAME=garage
DB_USER=admin
DB_PASSWORD=your_password
