{% extends "base.html" %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="text-danger">
        <i class="bi bi-shield-lock-fill"></i>
        Accès refusé
    </h1>

    <hr>

    <p class="lead">

        Vous n'avez pas <strong>les permissions nécessaires</strong> pour effectuer cette action.

    </p>

    <p>

        <strong>Merci de votre comprehention</strong> .

    </p>

    <a href="/" class="btn btn-primary">

        Retour à l'accueil

    </a>

</div>

{% endblock %}
