{% extends "base.html" %}

{% block content %}

<h1>Garage Nordik Services</h1>

<hr>

<div class="row">

<div class="col-md-3">

<div class="card">
<div class="card-body">

<h5>Clients</h5>

<p>Gestion des clients</p>

<a href="/clients" class="btn btn-primary">
Accéder
</a>

</div>
</div>

</div>


<div class="col-md-3">

<div class="card">
<div class="card-body">

<h5>Véhicules</h5>

<p>Historique des véhicules</p>

<a href="/vehicules" class="btn btn-success">
Accéder
</a>

</div>
</div>

</div>


<div class="col-md-3">

<div class="card">
<div class="card-body">

<h5>Rendez-vous</h5>

<p>Prise de rendez-vous</p>

<a href="/rendezvous" class="btn btn-warning">
Accéder
</a>

</div>
</div>

</div>


<div class="col-md-3">

<div class="card">
<div class="card-body">

<h5>Réparations</h5>

<p>Dossiers techniques</p>

<a href="/dossiers" class="btn btn-danger">
Accéder
</a>

</div>
</div>

</div>

</div>

{% endblock %}
